<?xml version='1.0' encoding='utf-8'?>
<widget id="example.tabris2" version="0.1.0">
  <name>Test Tabris 2</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="fardiazmail@yahoo.com">
    tege
  </author>
  <plugin name="cordova-plugin-admob-free"  /> 
 <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
